@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {

  background-color: $background-color;
  color: $text-color;
}


.portfolio-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}